<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAG0xMKzKxx1cm8-qw3VovYuQTQ31rSDQs</string>
	<key>GCM_SENDER_ID</key>
	<string>896166272036</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.homyDesine</string>
	<key>PROJECT_ID</key>
	<string>store-desine</string>
	<key>STORAGE_BUCKET</key>
	<string>store-desine.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896166272036:ios:a4e0862c24bf249c95ccb1</string>
</dict>
</plist>